{% extends "base.html" %}
{% block title %} Login {% endblock %}
{% block meta %}
<meta name="theme-color" content="#FFFFFF" />
{% endblock %}
{% block css %} 
<style>

.img-close{margin-top:20px; display:block; margin-left:20px}
.img-close a{color:#fff; font-size:24px}
form{background:inherit; border: none; }
.title-atas{color:#fff; font-weight:900; font-size:24px; margin-top:20px}
.upload-image{
position: absolute;
width: 174px;
height: 152px;
left: 108px;
top: 120px;
border-radius:10px;
background: #C4C4C4;
}
.upload-image .fa-camera{
	font-size:40px;
color: #FFFFFF;
position: absolute;
width: 40px;
height: 40px;
left: 65px;
top: 60px;
}
.mdl-textfield{width:100%}
.card2 {
 background: #FFFFFF;
border: 1px solid #ddd;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 4px;
min-height:160px;
font-weight:200;
font-size:14px;
width:100%;
margin-bottom:10px;
margin-top:-120px
}
footer{display:none} .btn-ok{position: fixed; bottom:10px; margin-bottom:0px}
h3{text-align: center;margin: 0px;
    text-align: center;
    font-size: 1.6rem;
    padding: 0px;}
p{text-align:center}	
</style>
<script>

{% if ulangi %}
let paksa_login = true 
{% else %}
let paksa_login = false 
{% endif %}


var ddd = "{{ ulangi }}"
</script>
{% endblock %}

{% block content %} 

<div class="container">	
	<div class="row">
		
   <p align="center">
   <img src="/static/img/larisse_login_img.svg" alt="larise login" id="larisse-img" width="339px" height="139px"/> </p>
   <div class="col-sm-12">
    <p align="center">   <h3>Masuk Dulu</h3></p>
  </div>
			<form action="." method="POST" autocomplete="off" id="loginSms">{% csrf_token %}
				<div class="row">
				<div class="col-sm-12">
  				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    				<input class="mdl-textfield__input" type="text" id="telp" name="telp">
    			<label class="mdl-textfield__label" for="store">No Whatsapp Aktif</label>
  				</div>	
				  </div>	
			    <p>
			{% if domain == "bispes.me" or domain == "127.0.0.1:8001" %}	
           		Biar jualanmu <strong>Aman & Nyaman</strong>. Silahkan masukan no Whatsapp mu yang aktif
		    {% else %}
				Biar poin dan pesananmu aman. Masukin no HP/WA mu yang aktif. Hanya bisa menggunakan nomor Indonesia
		    {% endif %}
          </p>
				<!-- <p align="center" style="margin-top:50px"> <a href="/web/login/password/" style="padding: 10px 20px;
            border: 1px solid #ddd;
            border-radius: 20px">Login With Email & Password</a> </p> -->
          <p><p>
				<br><br>
				<button type=submit class="btn-ok">Save</button>
</div>
			</form>
		</div>		

</div>


 {% endblock %}

 {% block js %} 
 <script>
	document.querySelector('meta[name="theme-color"]').setAttribute('content',  '#f8f8f8');
  	function hideYo(){
      $("a#mane").hide();
    }
    const telpInput = document.getElementById("telp");


// Define a function to validate the form before submitting
function validateForm() {
  // Get the value of the "telp" input field
  const formattedValue = telpInput.value.replace(/\D/g, "");
  const telpValue = formattedValue.trim();

  // Check if the "telp" input field is empty
  if (telpValue === "" || telpValue.length < 10) {
    // Show a SweetAlert2 alert if the input field is empty
    Swal.fire({
      icon: 'error',
      title: 'Error',
      text: 'Nomor harus diisi dengan benar ya ka',
    });
	$(".modal").hide();
    return false; // Prevent the form from submitting
  }
  $(".modal").show();
  // If the form is valid, allow it to submit
  return true;
}

// Add an event listener to the form to validate it before submitting

$("form#loginSms").submit(function(){
	
    return validateForm()

}); 
 </script>


 {% endblock %}